<?xml version="1.0" encoding="utf-8"?>
<scriptManagerSection>
  <scripts>
    <clear />
    <script name="\Scripts\SqlGenerator.t4" forDocument=".smd" description="generate sql script for generate the database" outputExtension=".txt" outputEncoding="" language="" compilerOptions="">
      <parameters>
        <clear />
        <param name="Folder" description="folder where the scripts of creation table will be generated" type="System.String" required="false" filter="Bb.StorageModelDriven.UITypeEditors.ProjectFolderSelector, Black.Beard.StorageModelDriven.Dsl, Version=1.0.0.0, Culture=neutral, PublicKeyToken=c68afcf7f5c4918c" />
      </parameters>
      <files>
        <clear />
        <file name="System.Configuration" kind="Assembly" forIntellisense="false" />
        <file name="System.Core" kind="Assembly" forIntellisense="false" />
        <file name="EnvDTE" kind="Assembly" forIntellisense="false" />
		<file name="Microsoft.Build" kind="Assembly" forIntellisense="false" />
        <file name="$(SolutionDir)\.Solutionfolders\bsn.GoldParser.dll" kind="Assembly" forIntellisense="false" />
        <file name="$(SolutionDir)\.Solutionfolders\bsn.ModuleStore.Parser.dll" kind="Assembly" forIntellisense="false" />       
        <file name="$(SolutionDir)\.Solutionfolders\ttIncludes\SqlServerWriter.generated.ttinclude" kind="Ttinclude" forIntellisense="false" />
        <file name="$(SolutionDir)\.Solutionfolders\ttIncludes\ParsingSolution.ttinclude" kind="Ttinclude" forIntellisense="false" />
        <file name="$(SolutionDir)\.Solutionfolders\ttIncludes\configDesigner.intellisense.ttinclude" kind="Ttinclude" forIntellisense="false" />
      </files>
    </script>
    <script name="\Scripts\SqlDataXsd.t4" forDocument=".smd" description="generate an xsd file for validate xml data file" outputExtension=".txt" outputEncoding="" language="" compilerOptions="">
      <parameters>
        <clear />
      </parameters>
      <files>
        <clear />
        <file name="System.Core" kind="Assembly" forIntellisense="false" />
        <file name="Microsoft.Build" kind="Assembly" forIntellisense="false" />
        <file name="$(SolutionDir)\.Solutionfolders\ttIncludes\StorageModelDriven.intellisense.ttinclude" kind="Ttinclude" forIntellisense="true" />
        <file name="$(SolutionDir)\.Solutionfolders\ttIncludes\ParsingSolution.ttinclude" kind="Ttinclude" forIntellisense="false" />
      </files>
    </script>
    <script name="\Scripts\SqlGenerator4CSharp.t4" forDocument=".smd" description="Generate Data access layer in C#" outputExtension=".cs" outputEncoding="" language="" compilerOptions="">
      <parameters>
        <clear />
      </parameters>
      <files>
        <clear />
        <file name="System.Core" kind="Assembly" forIntellisense="false" />
        <file name="Microsoft.Build" kind="Assembly" forIntellisense="false" />
        <file name="$(SolutionDir)\.Solutionfolders\ttIncludes\CSharpWriter.generated.ttinclude" kind="Ttinclude" forIntellisense="false" />
        <file name="$(SolutionDir)\.Solutionfolders\ttIncludes\StorageModelDriven.intellisense.ttinclude" kind="Ttinclude" forIntellisense="true" />
      </files>
    </script>    
  </scripts>
</scriptManagerSection>