<?xml version="1.0" encoding="utf-8"?>
<scriptManagerSection>
  <scripts>
    <clear />
      <parameters>
        <clear />
      </parameters>
      <files>
        <clear />
        <file name="System.Core" kind="Assembly" forIntellisense="false" />
        <file name="Microsoft.Build" kind="Assembly" forIntellisense="false" />
        <file name="$(SolutionDir)\.Solutionfolders\ttIncludes\CSharpWriter.generated.ttinclude" kind="Ttinclude" forIntellisense="false" />
        <file name="$(SolutionDir)\.Solutionfolders\ttIncludes\StorageModelDriven.intellisense.ttinclude" kind="Ttinclude" forIntellisense="true" />
      </files>
    </script>
    <script name="\Scripts\SqlGenerateDataScript.t4" forDocument="" description="Generate a merge data reference sql script" outputExtension=".txt" outputEncoding="" language="" compilerOptions="">
      <parameters>
        <clear />
        <param name="Filename" description="" type="System.String" required="false" />
        <param name="Folder" description="" type="System.String" required="false" />
      </parameters>
      <files>
        <clear />
        <file name="System.Core" kind="Assembly" forIntellisense="false" />
        <file name="Microsoft.Build" kind="Assembly" forIntellisense="false" />
        <file name="System.Xml" kind="Assembly" forIntellisense="false" />
        <file name="System.Xml.Linq" kind="Assembly" forIntellisense="false" />
        <file name="$(SolutionDir)\.Solutionfolders\ttIncludes\ParsingSolution.ttinclude" kind="Ttinclude" forIntellisense="false" />
      </files>
    </script>
  </scripts>
</scriptManagerSection>